@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="welcome" class="section">
    <div class="welcome__wrap container flex">
        <div class="hero__welcome">
            <h1 class="welcome__text">Hello World! </h1>
            <br />
            <h1 class="welcome__text">
                My name is [Your name here]. I'm a mobile and web developer.
            </h1>
            <br />
            <h3 class="welcome__about-brief">
                I like  build things for web and mobile.  My favorite platform is .Net with
                C#.  I'm also Python and Django friendly. This is where I like to
                blog about my software journey.
            </h3>
        </div>
        <div class="welcome__image">
            <div class="center-elementXY">
                <img src="/img/dist/assets/hero-sample.jpg">
            </div>            
        </div>
    </div>
</section>

<section id="getintouch" class="section accent__background">
    <div class="getintouch__wrap container flex">
        <h2 class="section__header text__white">Hire Me</h2>
        <h1 class="text__go-large text__black">
            Need a speaker for your event,<br />
            Workshop presenter, <br /> Or write
            an article? <br />
            <a class="getintouch__link" href="#">Drop a email  </a>
            <br /> ✌️

        </h1>
    </div>
</section>