@page
@model BE.Web.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<section class="section">
    <div class="login__form container flex">
        <div class="content__padding">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <fieldset class="field__set">
                    <legend class="form__legend">Please Login</legend>
                    <div class="form__margin">
                        <input asp-for="SignInModel.Email" class="form__input" placeholder="username" aria-label="username" />
                        <span asp-validation-for="SignInModel.Email" class="text-danger"></span>
                    </div>
                    <div class="form__margin">
                        <input asp-for="SignInModel.Password" class="form__input" placeholder="password" aria-label="password" />
                        <span asp-validation-for="SignInModel.Password" class="text-danger"></span>
                    </div>
                    <div class="form__margin">
                        <button type="submit" class="btn btn__default form__button">Log in</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>