@page
@model BE.Web.Pages.Admin.AllPostsModel
@{
}

<section id="allposts" class="section">
	<div class="allposts__wrap container flex">
		<h1>View All Posts</h1>
	</div>
</section>

@section Scripts{

}