@page
@model BE.Web.Pages.Admin.EditPostModel
@{
	Layout = "_LayoutAdmin";
}

<div style="height:500px;width:100%;border:1px solid green;">
	<h1>Edit / Create post</h1>
</div>

@section Scripts{
	<script type="text/javascript">
		/* set active page */
		let activepage = document.querySelector("#edit__new");
		activepage.classList.add("active");
	</script>
}