@page
@model BE.Web.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Dashboard";
}


<section id="dashboard" class="section">
	<div class="dashboard__wrap container flex">
		<h1>Dashboard</h1>
	</div>
</section>

@section Scripts{
}