@page
@model BE.Web.Pages.Errors._500Model
@{
    ViewData["Title"] = "500 - Internal Server Error";
}

<section class="section">
    <div id="error__page" class="container flex">
        <div class="code__box">
            <div class="bg__error">
                <h1 class="h1__error-title">500</h1>
            </div>
        </div>
        <h2>Internal Server Error</h2>
        <p>Well this is embarsing 🫣 !  We seem to have hit a glitch. We'll sort out a fix for this shortly.</p>
        <a href="/Index" class="btn">Back to home page</a>
    </div>
</section>
