<!-- Mobile header -->
<div id="header__desktop" class="header__desktop header scroll-header">
    <div id="navbar__container" class="container">
        <nav class="nav__desktop-wrap flex">
            <div class="nav__desktop-left">
                <a class="nav__desktop-logo" asp-page="/index">
                    <img asp-append-version="true" src="~/img/assets/logo-white-navbar.png" width="48" height="48" alt="BlogEasy.Net" />
                </a>
            </div>
            <div class="nav__desktop-right">
                <ul class="nav__right-links flex">
                    <li class="dsktop__nav-link-item"><a class="active" href="#">Home</a></li>
                    <li class="dsktop__nav-link-item"><a href="#">Blog</a></li>
                    <li class="dsktop__nav-link-item"><a href="#">Projects</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- Mobile header ends -->