<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BlogEasy.Net - @ViewData["Title"] </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark-dimmed.min.css"
          integrity="sha512-zcatBMvxa7rT7dDklfjauWsfiSFParF+hRfCdf4Zr40/MmA1gkFcBRbop0zMpvYF3FmznYFgcL8wlcuO/GwHoA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    </environment>
    <environment include="Staging,Production">
        <link href="build/css/stylesheet.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="app">
        <partial name="_Mobile__header" />
        <partial name="_Desktop_Header" />

        <div class="main__content">
            @RenderBody()
        </div>
        <partial name="_Footer" />
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
            integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
            integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="~/js/main.js" asp-append-version="true" type="module"></script>
    <environment include="Development">
        <script src="~/js/main.js" asp-append-version="true" type="module"></script>
    </environment>
    <environment include="Staging,Production">
        <script src="~/js/dist/main.js" asp-append-version="true" type="module"></script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        const dropdownBtn = document.getElementById("admin__btn-action");
        const dropdownMenu = document.getElementById("admin__dropdown");
        const toggleArrow = document.getElementById("arrow");

        // Toggle dropdown function
        const toggleDropdown = function () {
            dropdownMenu.classList.toggle("show");
            toggleArrow.classList.toggle("arrow");
        };

        // Toggle dropdown open/close when dropdown button is clicked
        dropdownBtn.addEventListener("click", function (e) {
            e.stopPropagation();
            toggleDropdown();
        });

        // Close dropdown when dom element is clicked
        document.documentElement.addEventListener("click", function () {
            if (dropdownMenu.classList.contains("show")) {
                toggleDropdown();
            }
        });

    </script>
</body>
</html>