<!-- Mobile header -->
<div id="header__mobile" class="header__mobile header">
    <div id="navbar__container" class="container">
        <nav class="nav__mobile-wrap flex">
            <div class="nav__mobile-left">
                <a class="nav__mobile-logo" asp-page="/index">
                    <img asp-append-version="true" src="~/img/assets/logo-white-svg.svg" width="48" height="48" alt="BlogEasy.Net" />
                </a>
            </div>
            <div class="nav__mobile-right">
                <div id="mobile__menu-toggle">
                    <input type="checkbox" />
                    <span class="material-symbols-outlined mobile-menu">
                        menu
                    </span>
                    <div id="mobile__header-menu">
                        <ul class="mobile__items flex">
                            <li><a asp-page="/Index" class="active">Home</a></li>
                            <li><a asp-page="/Blog/Index">Blog</a></li>
                            <li><a href="#">Projects</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </div>
</div>
<!-- Mobile header ends -->