@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== 
        Colors 
    ==========*/
    --body-color: hsl(240, 3%, 13%); /* #1f1f21 */
    --body-color-80: rgba(31,31,33, .8); /* #1f1f21 / 80% */
    --body-color-highlight: hsl(210, 4%, 10%); /* #18191a */
    --text-color: hsl(240, 0%, 92%); /* #ebebeb */
    --accent-color: hsl(206, 86%, 52%); /* #1991ee */
    --accent-color-active: hsl(206, 83%, 32%); /* #0e5b96 */
    --text-danger: #f0506e;
    --text-danger-border: #f0506e;
    /*========== 
        Font and typography 
     ==========*/
    --body-font: 'JetBrains Mono', monospace;
    --normal-font-size: 1rem; /* 16 px */
    --biggest-font-size: 4rem; /* 64 px */
    --h1-font-size: 2.25rem; /* 36 px */
    --h2-font-size: 1.5rem; /* 24 px */
    --h3-font-size: 1.25rem; /* 20 px */
    --normal-font-size: 1rem; /* 16 px */
    --small-font-size: .875rem; /* 14 px */
    --smaller-font-size: .775rem; /* 12.4 px */
    --letter-spacing-wide: 0.125rem; /* 2px */
    /*========== 
        Font weight 
    ==========*/
    --font-light: 300;
    --font-medium: 500;
    --font-bold: 600;
    --font-bold-heavy: 700;
    /*========== 
        Margins Bottom 
    ==========*/
    --mb-0-5: .5rem; /* 8px */
    --mb-0-75: .75rem; /* 12px */
    --mb-1: 1rem; /* 16px */
    --mb-1-5: 1.5rem; /* 24px */
    --mb-2: 2rem; /* 32px */
    --mb-2-5: 2.5rem; /* 40px */
    --mb-3: 3rem; /* 48px */
    /*========== 
        padding
    ==========*/
    --lr-padding: 0 2rem; /* 32px */
    /*========== 
        z index 
    ==========*/
    --z-fixed: 100;
    /*========== 
        Others
    ==========*/
    --border-radius: .5rem;
    --box-shadow: 0px 3px 8px -4px rgb(0 0 0 / 15%);
    --header-height: 4.5rem; /* 72px */
    --navbar-width: 248px;
}

.main::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, rgb(50, 171, 162), rgb(11, 64, 60));
    --border-radius: 30%;
}

.main::-webkit-scrollbar {
    width: 5px;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.5;
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}
/*=============== Layout ===============*/

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.position_fixed {
    position: fixed;
}

/*========== 
    Header
==========*/

#header {
    height: var(--header-height);
    width: 100vw;
    padding: var(--lr-padding);
    background-color: var(--body-color-highlight);
    z-index: var(--z-fixed);
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.header__logo-wrap {
    gap: 3.75rem; /* 60px */
    color: #fff;
}

.logo.h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

.header__logo-wrap span.menu__icon {
    font-size: 2.25rem; /* 36px */
}

.header__logo-wrap {
    align-items: center;
    justify-content: center;
}


/*========== 
    main__container
==========*/
.main__container {
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
}

.nav__container {
    height: calc(100vh - var(--header-height));
    width: var(--navbar-width);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    left: -300px;
    width: 0;
}

    .nav__container.navclose {
        width: 100%;
    }

    .nav__container::-webkit-scrollbar {
        display: none;
    }

.nav {
    width: var(--navbar-width);
    min-height: 91vh;
    background-color: var(--body-color-highlight);
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 8px -4px rgb(0 0 0 / 15%);
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
    width: 100%;
}

/* toggle width of navbar coloum */
.navclose {
    width: 100vw;
    position: absolute;
    left: 0;
}

.navbar__option-wrap {
    flex-direction: column;
    align-items: center;
    gap: 1.75rem; /* 28px */
}

.navbar__option {
    width: var(--navbar-width);
    height: 60px;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
    height: auto;
}

    .navbar__option.active {
        border-left: 4px solid var(--accent-color);
        background-color: var(--Border-color);
        color: white;
        cursor: pointer;
    }

.navbar__option-item-wrap {
    align-items: center;
    gap: 2.0rem; /* 32px */
    padding: 1rem 0;
}

.main {
    height: calc(100vh - (var(--header-height)));
    width: 100%;
    overflow-y: scroll;
    padding: 40px 28px 28px 28px;
}


.navbar__option-item-wrap h4 {
    color: var(--accent-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-0-5);
}

.navbar__option:hover {
    border-left: 4px solid var(--body-color-highlight );
    background-color: var(--body-color-80);
    cursor: pointer;
}


/*=============== FORMS ===============*/
.field__set {
    border: none;
    margin: 0;
    padding: 0;
}

/*=============== 
    BREAKPOINTS 
===============*/

/* For small devices */
@media screen and (min-width: 640px) {
}

/* For medium devices */
@media screen and (min-width: 960px) {
    .nav__container {
        width: 30%;
        left: 0;
    }

    .main {
        width: 100%;
        margin-left: 0;
    }

    .navbar__option {
        margin-left: 20px;
    }

    .nav__container.navclose {
        width: 10%;
    }

    .go__narrow {
        width: 90%;
        margin-left: 10%;
    }

    .nav__container.navclose .navbar__option {
        width: 100%;
        margin: auto;
    }

        .nav__container.navclose .navbar__option:hover {
            border-left: 4px solid var(--accent-color);
        }

    .nav__container.navclose .navbar__option-item-wrap h4 {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .nav__container {
        width: 30%;
        left: 0;
    }

    .main {
        width: 100%;
        margin-left: 0;
    }

    .navbar__option {
        margin-left: 20px;
    }

    .nav__container.navclose {
        width: 10%;
    }

    .go__narrow {
        width: 90%;
        margin-left: 10%;
    }

    .nav__container.navclose .navbar__option {
        width: 100%;
        margin: auto;
    }

        .nav__container.navclose .navbar__option:hover {
            border-left: 4px solid var(--accent-color);
        }

    .nav__container.navclose .navbar__option-item-wrap h4 {
        display: none;
    }
}
