/*=============== 
            Index
 ===============*/
.getintouch__wrap,
.welcome__wrap {
    /* whether flex items are forced onto one line or can wrap onto multiple lines. 
    If wrapping is allowed, it sets the direction that lines are stacked. */
    flex-wrap: wrap;
    margin-bottom: var(--mb-0-5);
    flex-direction: column;
}

/*  makes a one column layout (100%) instead of a two-column layout (50%)
    on mobile first
 */
.welcome__image,
h3.welcome__about-brief,
.hero__welcome {
    flex: 100%;
    margin-bottom: var(--mb-0-75);
}

.hero__welcome {
    letter-spacing: .20rem;
}

.hero__welcome {
    display: inline-block;
    position: relative;
}

    h1.welcome__text,
    h3.welcome__about-brief,
    .hero__welcome p {
        text-align: center;
    }

h1.welcome__text {
    font-size: var(--h1-font-size);
    letter-spacing: var(--letter-spacing-wide);
    margin-bottom: var(--mb-0-5);
}

h3.welcome__about-brief {
    font-size: var(--h3-font-size);
    letter-spacing: var(--letter-spacing-wide);
    margin-bottom: var(--mb-0-5);
    font-weight: var(--font-extra-light);
}

.hero__welcome p {
    margin-bottom: var(--mb-0-75);
    font-size: var(--normal-font-size);
    font-weight: var(--font-light);
}

.getintouch__wrap {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h3.section__header {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

h1.text__go-large {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-75);
    text-align: center;
    font-weight: var(--font-bold);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-narrow);
}

a.getintouch__link {
    color: var(--body-color);
    transition: .3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 4px;
    color: #fff;
}

    a.getintouch__link:hover {
        text-decoration: underline;
    }


/*=============== 
    Blog/Index
===============*/
.blog__headline {
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

/*=============== 
    Blog/Index - GRID
 ===============*/

.grid__wrapper {
    margin: 1.25rem auto; /* 20 px */
    padding: 1rem;
    flex-direction: column;
}

.grid__item-wrap {
    background-color: var(--body-color-highlight);
    color: #fff;
    box-shadow: -8px -8px 20px rgb(255 255 255 / 4%), 8px 8px 20px rgb(0 0 0 / 35%);
    width: 100%;
    transition: .1s ease-in-out;
    margin-bottom: var(--mb-2-5);
    border-radius: .75rem; /* 12px */
}

    .grid__item-wrap:hover {
        background-color: var(--body-color-highlight);
        box-shadow: -2px -2px 5px rgb(255 255 255 / 3%), 2px 2px 4px rgb(0 0 0 / 35%);
        transform: translateY(3px);
    }

.grid__item-top {
    overflow: hidden;
    display: block;
    height: 192px;
}

    .grid__item-top img,
    .no__photo-entry {
        width: 100%;
        height: 100%;
    }

.no__photo-entry {
    height: 192px;
}

.grid__item-top img {
    object-fit: cover;
    border-radius: .75rem .75rem 0 0; /* 12px */
}

.no__photo-entry img {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: none;
}

.grid__item-body {
    padding: 1rem;
    margin-bottom: var(--mb-2-5);
}

.grid__item-meta-date {
    text-align: center;
    margin-bottom: var(--mb-1);
    font-size: var(--small-font-size);
}

.grid_item-meta-title {
    text-align: center;
    margin-bottom: var(--mb-0-75);
    word-break: break-all;
}

.grid__item-lnk-more-wrap {
    color: #fff;
    margin: 0 auto;
    text-align: center;
}

.grid__item-lnk-more-lnk {
    color: var(--accent-color-active);
    position: relative;
    padding-right: 25px;
    font-size: var(--small-font-size);
    flex-direction: row;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    width: 124px;
}

    .grid__item-lnk-more-lnk:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 20px;
    }

    .grid__item-lnk-more-lnk span {
        font-size: var(--small-font-size);
        color: #fff;
    }


/*=============== 
    Blog/Slug
===============*/
.post__entry {
    flex-direction: column;
    width: 100%;
}


.post__tags-wrapper,
.post__content-wrapper {
    padding: 2rem 0;
    color: #fff;
    max-width: var(--max-width);
}


p.post__content-meta-date {
    margin-bottom: var(--mb-0-5);
    font-size: var(--small-font-size);
    text-transform: uppercase;
    color: var(--accent-color);
    text-align: center;
    font-weight: var(--font-bold-heavy);
}


.post__content-wrapper h1 {
    margin-bottom: var(--mb-1-5);
    color: #fff;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.088rem; /* -1.4px */
    font-size: var(--h1-font-size);
}


.post__excerpt {
    margin-bottom: var(--mb-1-5);
    text-align: center;
}

.post_content-content p img,
.post__header-cover {
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.post_content-content p img {
    box-shadow: -5px -5px 15px rgb(255 255 255 / 3%), 5px 5px 15px rgb(0 0 0 / 45%);
}



.post_content-content {
    color: #fff;
    margin-top: 4rem; /* 64px; */
}

.post_content-content,
.post_content-content p {
    font-size: var(--normal-font-size);
}

.post_content-content p {
    margin-bottom: var(--mb-0-75);
}

.post__tags-wrapper {
    text-align: center;
}

.post__tags-wrapper h1 {
    font-size: var(--h1-font-size);
    color: #fff;
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.post__tags-wrapper:before {
    display: block;
    width: 60%;
    height: 1px;
    margin: 0 auto 90px;
    content: '';
    background: rgba(255, 255, 255, 0.08);
}

.post__tags-wrapper a {
    font-size: var(--small-font-size);
    text-decoration: none;
    margin-bottom: 14px;
    margin-right: 0.25rem; /* 4px; */
    padding: 0.25rem 0.50rem;
    font-weight: 500;
    outline: none !important;
    text-transform: uppercase;
    background: var(--accent-color);
    color: var(--body-color);
    transition: .3s;
    border-radius: .25rem;
    line-height: 2.5rem; /* 40px */
    transform: translate3d(0, 0, 0);
    box-shadow: 0 3px 8px -4px rgb(255 255 255 / 35%);
    display: inline-block;
}

    .post__tags-wrapper a:hover {
        transform: translateY(-4px);
        box-shadow: 0 3px 8px -4px rgb(255 255 255 / 0%);
    }

/*=============== 
    Admin/EditPost 
===============*/

.editor__actions {
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem auto;
    width: 100%;
    gap: 4rem;
}

.form__hideable-section {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: flex;
}

.outer__content-wrap {
    height: 100%;
    width: 100%;
    /*flex-wrap: wrap;*/
    padding-bottom: 2rem; /* 32 px */
    max-width: var(--max-width);
}

.preview__wrap,
.content__wrap {
    flex-wrap: wrap;
}

.content__wrap {
    flex: 40%;
    padding-right: 16px;
}

.preview__wrap {
    flex: 60%;
    overflow-y: scroll;
    background-color: #dcdde1;
    border-radius: 8px;
    padding: 0.75rem; /* /12px */
    color: var(--body-color);
    font-size: var(--normal-font-size);
    scrollbar-color: var(--body-color);
    scrollbar-width: thin;
}

    .preview__wrap::-webkit-scrollbar {
        display: none;
    }

.content__wrap .eat__space {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}


#form_edit-create {
    width: 100%;
}

#PostVM_PostExcerpt,
#PostVM_PostContent,
#output {
    min-height: 100vh;
}

#PostVM_PostExcerpt,
#PostVM_PostContent,
textarea#PostContent, /* edit mode */
#output {
    height: 100%;
    overflow: auto;
    border-radius: 8px;
    font-size: 16px;
}

#PostVM_PostExcerpt,
#PostExcerpt {
    height: 180px;
}


.preview__wrap h1,
.preview__wrap h2,
.preview__wrap h3,
.preview__wrap h4,
.preview__wrap h5 {
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-0-75);
}

.preview__wrap h1 {
    margin-bottom: var(--mb-1-5);
}

    .preview__wrap h1:after {
        content: "";
        display: block;
        position: relative;
        top: 0.33em;
        border-bottom: 1px solid hsla(0,0%,50%,.33);
        text-align: center;
    }

.preview__wrap p {
    margin: 1.5rem auto; /*24px  */
}

.preview__wrap blockquote {
    color: rgba(0,0,0,.6);
    padding-left: 1.5em;
    border-left: 5px solid rgba(0,0,0,.2);
}

.preview__wrap ul {
    margin: 0.5rem 0; /* 8px 0 8px 0 */
}

    .preview__wrap ul li {
        padding-left: 1.5rem; /* 24px */
    }

        .preview__wrap ul li p:before {
            content: " . ";
            font-weight: var(--font-bold-heavy);
        }

        .preview__wrap ul li blockquote p:before {
            content: none;
        }

.preview__wrap a {
    color: var(--accent-color);
    text-decoration: underline;
    font-weight: var(--font-bold);
}

.frm__current-photo-wrap {
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}

img.frm__photo-preview {
    margin: 0 auto;
    height: 116px;
    border-radius: 8px;
}

/*=============== 
    Admin/AllPosts 
===============*/
.allposts__wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--mb-1-5);
}

.allposts__pagination-wrap {
    width: 100%;
    margin: 0 auto;
    margin-bottom: var(--mb-1-5);
}

/*=============== 
    Admin/DeletePost
===============*/
.delete__post-wrap {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: var(--mb-1); /* 16px */
}

.delete__post-icon {
    width: 200px;
    height: 200px;
    margin: var(--mb-1) auto; /* 16px */
}

.delete__post-warning,
.delete__post-title {
    text-align: center;
    margin: var(--mb-1) auto; /* 16px */
}

.delete__post-cover {
    width: 400px;
    margin: var(--mb-1) auto; /* 16px */
}

.delete__post-warning {
    font-weight: var(--font-bold-heavy);
    font-size: var(--h1-font-size);
}

.delete__post-title {
    font-size: var(--h2-font-size);
}

.delete__post-commands-wrap {
    flex-direction: row;
    margin: var(--mb-1) auto;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

/*=============== 
    Post Gallery 
===============*/
.post__gallery-wrapper {
    margin: var(--mb-1) auto;
    padding: var(--mb-1-5); /* 24px */
    border: 1px dotted hsla(0, 0%, 100%, .6);
    background-color: #7F8C8D;
    border-radius: 8px;
    width: 100%;
    overflow-y: auto;
}

.no__image-wrap {
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex: 1 1 0%;
}

p.post__gallery-instructions {
    font-size: var(--h2-font-size);
    margin: var(--mb-2) auto;
    color: #fff
}

.img__uploand-link {
    font-size: 56px;
}

.post__gallery {
    display: flex;
    flex-flow: wrap;
}

.post__gallery-item {
    flex-grow: 1;
    min-width: 150px;
    background: #7F8C8D;
    border: 2px solid #7F8C8D;
    position: relative;
}

.post__gallery-item:before {
    content: "";
    padding-top: 100%;
    display: block;
}

.post__gallery-image {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}
